thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.idx
thesis.ilg
thesis.ind
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.toc
thesis.tdo
thesis.xdv
thesis.nls
thesis.nlo

figures/*.png
chapters/*.aux
