thesis.acn
thesis.acr
thesis.alg
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.glg
thesis.glo
thesis.gls
thesis.glsdefs
thesis.idx
thesis.ilg
thesis.ind
thesis.ist
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.toc
thesis.tdo
thesis.xdv
thesis.nls
thesis.nlo
thesis.loa
thesis.xdv
figures/*.png
figures/tikz/*.aux
figures/tikz/*.log
figures/tikz/*.pdf
chapters/*.aux
presentation/presentation.aux
presentation/presentation.log
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.pdf
presentation/presentation.snm
presentation/presentation.toc
